/* reset */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

html {
	font-size: 62.5%; /* equivalent to 16px, and I want my 1rem to be equal to 10px so 10/16px = 62.5% or 1rem */
}

body {
	box-sizing: border-box;
	padding: 3rem;
  background-color: #ecf1fa;
  font-family: 'Muli', sans-serif;
}

/* NOTE temporary, to be moved on its own component or page */
/* main container layout */
.container {
  display: grid;

  grid-template-areas: "sidebar main";

  grid-template-columns: 27rem 1fr;
  height: 92vh;
}

.main-container {
  grid-area: main;
  background-color: #F8F9FC;
  padding: 4rem;
}

